<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDyjikVuYyoSTRWmY5E955pCTImwOWYi6U</string>
	<key>GCM_SENDER_ID</key>
	<string>233192568044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.restaurant</string>
	<key>PROJECT_ID</key>
	<string>favoriterestaurant-11a13</string>
	<key>STORAGE_BUCKET</key>
	<string>favoriterestaurant-11a13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233192568044:ios:70ff7d4e0d18b75eb2e1c9</string>
</dict>
</plist>